body {
  font: 15px Arial, sans-serif;
  padding: 0px 10px;
  margin-left:7%;
  margin-right:7%;
  text-align:center;
  color:#fff;
}

.fsbtn {
  font-size: 28px;
  font-weight: bold;
}

.toptitle {
  font-size: 28px;
}

.topnav {
            
}

.bottomnav {
  font-size: 12px;
  text-decoration: underline overline 2px;
  color:#aaa;
}
